<bgcolor="008000">
<center><h1>Listing films</h1></center>

<center><table border="1" bgcolor="4169E1">
  <thead>
    <tr>
      <th><h3> Title </h3></th>
      <th><h3> Classification </h3></th>
      <th><h3> Quality </h3></th>
      <th><h3> Year </h3></th>
      <th><h3> Options </h3></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><center><%= film.Title %></center></td>
        <td><center><%= film.Classification %></center></td>
        <td><center><%= film.Quality %></center></td>
        <td><center><%= film.year %></center></td>
        <td><center><%= link_to 'Show', film %> <%= link_to 'Edit', edit_film_path(film) %>  <%= button_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table></center>

<br>

<center><%= link_to 'New Film', new_film_path %></center>
